*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  background-color: rgb(22, 22, 22);
}
header {
  display: flex;

  width: 100%;
  height: 80px;
  justify-content: center;
  position: fixed;
  background: transparent;
  opacity: 0.95;
  z-index: 75;
  top: 0;
  background-color: #1a1e1f;
}

/* .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.nav-toggle-btn {
  visibility: hidden;
}
.header-wrapper {
  display: flex;
  width: 65%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  padding: 20px;
  height: 40px;
  opacity: 0.95;
}
nav {
  display: flex;
}
.close-icon {
  display: none;
}

@media screen and (max-width: 440px) {
  .header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .close-icon {
    display: flex;
  }
  .nav {
    display: none;
  }
  .nav-list {
    width: 50vw;
    position: absolute;
    visibility: visible;
    flex-direction: column;
    padding: 30px;
    right: 0;
    top: 0;
    /* margin-top: 100px; */
    z-index: 100;
    background-color: #2b2b2b;
    /* visibility: hidden; */
  }
  .nav-toggle-btn {
    visibility: visible;
  }
}

.nav-toggle-btn {
  width: 26px;
  height: 21px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.btn-first-box {
  background-color: #ddd8d8;
  width: 50%;
  height: 3px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.btn-second-box {
  background-color: #ddd8d8;
  width: 100%;
  height: 3px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.btn-third-box {
  background-color: #ddd8d8;
  width: 50%;
  height: 3px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  align-self: flex-end;
}

.btn-first-box.active {
  transform-origin: right;
  transform: rotate(45deg);
  transition: 0.33s cubic-bezier(0.54, -0.81, 0.72, 0.16);
  width: 60%;
}
.btn-second-box.active {
  transform: rotate(-45deg);
}
.btn-third-box.active {
  transform-origin: left;
  transform: rotate(48deg);
  width: 60%;
}

.logo-text {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
.logo-x {
  font-size: 20px;
  font-weight: 700;
}

.logo-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.tbc-logo {
  width: 60px;
  height: 60px;
}
a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active {
  color: rgb(0, 163, 224);
  transition: all 500ms ease;
}
li.active a {
  color: rgb(0, 163, 224);
}

.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}

.img-container {
  width: 100%;
  height: 350px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.main-img {
  width: 100%;
  height: 350px;
}
.image-text-wrapper {
  position: absolute;
  width: 65%;
}

@media screen and (max-width: 440px) {
  .img-container {
    width: 100%;

    margin-top: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: auto;

    position: relative;
  }
  .nav-list {
    align-items: flex-end;
  }
  .main-img {
    width: 100%;
    height: 217px;
  }
  .image-text-wrapper {
    position: absolute;
    width: 80%;
  }
}

h1 {
  width: 100%;
  font-size: 42px;
  font-weight: 600;
  color: rgb(244, 244, 244);
  font-family: "Rubik", sans-serif;
  grid-area: content;
  position: relative;
  top: 0;
}

@media screen and (max-width: 440px) {
  .image-text-wrapper {
    display: flex;
  }
}

/* program main text */

.programm-description-wrapper {
  width: 100%;
  display: flex;
  background-color: #2b2b2b;
  padding: 50px 0px;
  justify-content: center;
}

.programm-description {
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 65%;
}
h2 {
  font-size: 28px;
  color: #f4f4f4;
  line-height: 45px;
}

.more-about-program {
  grid-area: content2;
  font-size: 20px;
  color: rgb(0, 174, 243);
  cursor: pointer;
  padding-top: 30px;
}
.more-about-program:hover {
  color: antiquewhite;
}

@media screen and (max-width: 440px) {
  .programm-description {
    width: 90%;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}

/* courses */

.courses-container {
  width: 100%;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(22, 22, 22);
}
.course-header {
  display: flex;
  width: 65%;
}
.courses-wrapper {
  margin-top: 50px;
  width: 65%;
  display: grid;
  column-gap: 40px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(22, 22, 22);
  margin-bottom: 50px;
  /* padding-bottom: 40px; */
}

.course {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  height: 415px;
  border: 1px solid rgba(85, 85, 85, 1);

  border-radius: 6px;
}

.course a {
  color: rgb(48, 184, 233);
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.about-course {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  height: 100%;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
}
.course_detail {
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-bottom: 30px;
  gap: 10px;
}
@media screen and (max-width: 440px) {
  .course {
    height: 350px;
  }
  .about-course {
    padding: 20px;
    justify-content: flex-start;
  }
  .course_detail {
    padding: 0px;
    align-self: center;
  }
}

.arrow {
  width: 16px;
  height: 13px;
}
img {
  height: 150px;
}
h5 {
  color: #f4f4f4;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
p {
  color: rgb(244, 244, 244);
}

@media screen and (max-width: 1200px) {
  .courses-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .courses-wrapper {
    width: 80%;
    grid-template-columns: 1fr;
  }
  .course_box {
    height: 300px;
  }
}

/* slider */
.carousel-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2b2b2b;
}
.content_inner_slider {
  display: flex;
  width: 66vw;
  /* overflow: hidden; */

  background-color: #1a1e1f;
}
.slide {
  display: grid;
  width: 100%;
  column-gap: 40px;
  padding: 20px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.slide .single_slide {
  display: flex;
  justify-items: flex-start;
}
.partners-img {
  width: 300px;
  height: auto;
}
button {
  background: transparent;
  border: none;
}
.slider-svg {
  height: 48px;
}
.slider-svg:hover {
  fill: #312c2c;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .slide {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
/* accordion */

.accordion {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  padding-top: 30px;
  margin-bottom: 50px;
  grid-template-areas:
    "header allquestion"
    "question1 question1"
    "question2 question2"
    "question3 question3";
}
.accordion-header {
  grid-area: header;
  justify-self: flex-end;
  padding-right: 85px;
}
.accordion-all-question {
  color: rgb(0, 174, 243);
  font-size: 16px;
  grid-area: allquestion;
}
.faq {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 18px;
  cursor: pointer;
  grid-area: auto;
}
.faq1 {
  width: 60%;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
  margin-top: 30px;
  padding-bottom: 18px;
  cursor: pointer;
  grid-area: question1;
}
.faq2 {
  width: 60%;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
  margin-top: 30px;
  padding-bottom: 18px;
  cursor: pointer;
  grid-area: question2;
}
.faq3 {
  width: 60%;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
  margin-top: 30px;
  padding-bottom: 18px;
  cursor: pointer;
  grid-area: question3;
}

.question {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 18px;
  color: #f4f4f4;
}

.faq-header a {
  font-size: 24px;
  color: rgb(48, 184, 233);
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.faq-header a:hover {
  color: rgb(203, 215, 219);
}

.answer-wrapper {
  max-height: 0;
  margin-top: 20px;
  overflow: hidden;
}
.first-answer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 5px;
  padding-left: 20px;
}
.first-answer-text {
  padding: 10px 0px;
  line-height: 26px;
}

.first-answer-ps {
  padding: 10px 0px;
  line-height: 26px;
}

.answer {
  line-height: 24px;
  padding: 20px 0px;
  font-family: "Rubik", sans-serif;
}
.faq.active .answer-wrapper {
  max-height: fit-content;
}

.answer-sub-p {
  font-weight: 600;
}

@media screen and (max-width: 440px) {
  .accordion {
    display: grid;
    padding-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5";
  }
  .accordion-header {
    grid-area: box1;
    width: 80%;
    line-height: 32px;
    padding: 0;
    justify-self: center;
  }
  .faq {
    width: 80%;
  }
  .faq1 {
    grid-area: box2;
  }
  .faq2 {
    grid-area: box3;
  }
  .faq3 {
    grid-area: box4;
  }
  .accordion-all-question {
    grid-area: box5;
    padding: 20px 0px;
  }
}

/* footer */

footer {
  width: 100%;
  background-color: #1a1e1f;
  display: flex;
  justify-content: center;
}
.footer-wrapper {
  width: 65%;

  display: grid;

  align-items: center;
  padding: 50px 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a b"
    "c d"
    "e f";
}

.social-icon-wrapper {
  display: flex;
  gap: 10px;
  justify-self: flex-end;
}

.footer-btn {
  grid-area: f;
  width: 140px;
  justify-self: flex-end;
  font-size: 20px;
  background-color: rgb(0, 163, 224);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}
.footer-rules {
  grid-area: e;
}

.tbc-footer-logo {
  height: 30px;
}

.social-icon {
  width: 39px;
  height: 39px;
}

@media screen and (max-width: 600px) {
  .footer-wrapper {
    width: 80%;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    grid-template-areas:
      "a b"
      "c d"
      "e e"
      "g g";
  }
  .footer-btn {
    grid-area: c;
    justify-self: unset;
  }
  .social-icon-wrapper {
    grid-area: d;
  }
  .rights {
    grid-area: g;
  }
  .footer-rules {
    grid-area: e;
  }
}
